body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #f0f6fc;
}

a {
    color: #4493f8;
    text-decoration: none;
}

main {
    max-width: 1920px;
    margin: 20px;
    text-align: center;
    border: 1px solid #3d444d;
    border-radius: 10px;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}

.main-header {
    font-size: 2.5em;
    margin: 0;
    background-color: #151b23;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #3d444d;
    border-radius: 10px 10px 0 0;
}

.mod-table {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px 20px 0 20px;
    box-sizing: border-box;
    table-layout: fixed;
}

.mod-table caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    color: #f0f6fc;
}

.mod-table th, .mod-table td {
    border: 1px solid #3d444d;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.mod-table th:first-child,
.mod-table td:first-child {
    width: 33.33%;
}

.mod-table th:nth-child(2),
.mod-table td:nth-child(2) {
    width: 66.67%;
}

.mod-table th {
    background-color: #151b23;
}